@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

body {
  background-color: #1B1B29;
}

.gradient-border {
  background: red;
  background-image: linear-gradient(
    to bottom right,
    #008cff,
    #e100ff,
    rgb(216, 73, 73)
  );
}

.button-para {
  background:#f7db4a;
  /* box-shadow: 10px 10px 0 rgba(0,0,0,.5); */
  /* display:inline-block; */
  padding:.1em 1em;
  text-decoration:none;
}

/* .button-para:hover {
  box-shadow: 0 0 0 ;
} */

.parallelogram{
  transform: skew(-5deg);
}
/* 
.skew-fix{
  display:inline-block;
  transform: skew(20deg);
} */